<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="icon" href="{{ asset('build/images/favicon/favicon.ico') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {%  include 'partials/_header.html.twig' %}

        {% for messages in app.flashes %}
            {% for message in messages %}
                {% include'components/_modal.html.twig' with {
                    message: message
                } %}
            {% endfor %}
        {% endfor %}
        <div class="container m-auto max-w-screen-xl flex flex-wrap items-center justify-between p-2">
        {% block body %}{% endblock %}
        </div>
        {% include 'partials/_footer.html.twig' %}
    </body>
</html>
