{% extends "base.html.twig" %}

{% block title %}
    Mes articles
{% endblock %}

{% block body %}
    {% if app.user %}
    <div class="flex">
        <div class="mb-6 text-surface dark:text-white w-full">
            <div class="flex">
                <h1 class="text-3xl my-8 mx-8"> Mes articles : </h1>
                <a href="{{ path('post.write') }}">
                    <button
                            type="button"
                            class="my-8 inline-block rounded border-2 border-primary px-6 pb-[6px] pt-2 text-xs font-medium uppercase leading-normal text-primary transition duration-150 ease-in-out hover:border-primary-accent-300 hover:bg-primary-50/50 hover:text-primary-accent-300 focus:border-primary-600 focus:bg-primary-50/50 focus:text-primary-600 focus:outline-none focus:ring-0 active:border-primary-700 active:text-primary-700 motion-reduce:transition-none dark:text-primary-500 dark:hover:bg-blue-950 dark:focus:bg-blue-950"
                            data-twe-ripple-init>
                        Écrire un article
                    </button>
                </a>
            </div>
            <div class="flex-col w-full p-2 m-2">
                {% if posts %}
                    {% for post in posts %}
                        <div class="w-auto text-surface dark:text-white">
                        {% include "components/_list.html.twig" %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="navigation flex justify-center mb-8">
        {{  knp_pagination_render(posts) }}
    </div>

    {% else %}

        <div class="flex items-center">
            <a href ="{{ path('app_login') }}">
                <button
                        type="button"
                        data-twe-ripple-init
                        data-twe-ripple-color="light"
                        class="me-3 inline-block rounded px-2 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-primary hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:text-secondary-600 dark:hover:text-secondary-500 dark:focus:text-secondary-500 dark:active:text-secondary-500">
                    Se connecter
                </button>
            </a>
            <a href="{{ path('app_register') }}">
                <button
                        type="button"
                        data-twe-ripple-init
                        data-twe-ripple-color="light"
                        class="me-3 inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-primary-3 transition duration-150 ease-in-out hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2 motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong">
                    S'inscrire
                </button>
            </a>
        </div>

    {% endif %}

{% endblock %}