<h1>Réinitialisation de votre mot de passe sur Kilian-au</h1>
<p>Bonjour {{ user.email }},</p>
<p>Pour réinitialiser votre mot de passe, veuillez cliquer sur le lien ci-dessous.</p>
<p>Si vous n'êtes pas à l'origine de cette demande veuillez ignorer cet email.</p>
<p><a href="{{ url|raw }}">{{ url|raw }}</a></p>
<p>Merci</p>