<!-- Modal -->
<div    data-twe-modal-init
        data-twe-backdrop="false"
        class="static left-0 top-0 z-[1055] block h-full w-full overflow-y-auto overflow-x-hidden outline-none"
        id="modalComponent"
        tabindex="-1"
        aria-labelledby="modalComponentsLabel"
        aria-hidden="true">
    <div
            data-twe-modal-dialog-ref
            class="pointer-events-none relative w-auto opacity-100 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:my-7 min-[576px]:max-w-[500px]">
        <div
                class="pointer-events-auto relative flex w-full flex-col rounded-md border-none bg-primary bg-clip-padding text-white shadow-4 outline-none dark:bg-surface-dark">

            <div class="grid grid-cols-12 gap-4 p-4 mt-1.5" data-twe-modal-body-ref>

                <div class="col-span-11 w-full">
                    <p class="w-full">{{ message|raw }}</p>
                </div>

                <div class="col-auto">
                    <button
                            id="refreshButton"
                            type="button"
                            class="box-content rounded-none border-none text-white hover:text-neutral-800 hover:no-underline focus:text-neutral-800 focus:opacity-100 focus:shadow-none focus:outline-none dark:text-neutral-400 dark:hover:text-neutral-300 dark:focus:text-neutral-300"
                            data-twe-modal-dismiss="modalComponent"
                            aria-label="Close">
                          <span class="[&>svg]:h-6 [&>svg]:w-6">
                                <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="currentColor"
                                        viewBox="0 0 24 24"
                                        stroke-width="1.5"
                                        stroke="currentColor">
                                      <path
                                              stroke-linecap="round"
                                              stroke-linejoin="round"
                                              d="M6 18L18 6M6 6l12 12" />
                                </svg>
                          </span>
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>