{% extends "base.html.twig" %}

{% block title %}Success{% endblock %}

{% block body %}
    <div class="container h-full p-4 m-16 flex items-center justify-center">
        <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">
            {{ 'app.register.success'|trans }}</p>
    </div>
{% endblock %}